.main-item {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #737373;
}
.stars {
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
}
.author {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.author-info {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  color: #96bb7c;
  font-weight: 700;
}
.role{
  font-weight: 600;
}
