.footer{
    width: 1440px;
height: 272px;
opacity: 1;
display: flex;
flex-direction: row;
}
ul{
    width: 148px;
height: 170;
gap: 20px;
opacity: 1;
list-style-type: none;
}
.footer-3{
    width: 115px;
height: 24px;
opacity: 1;
font-weight: 700;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1px;

}
footer-4{
    width: 67px;
height: 24px;
opacity: 1;
font-family: Montserrat;
font-weight: 700;
font-size: 14px;

line-height: 24px;
letter-spacing: 0.2px;

}