.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 400px;
  margin: 200px;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
}
.join-text {
  margin: 12px;
  font-size: 24px;
  color: #96bb7c;
}
.number-text {
  margin: 12px;
  font-size: 48px;
  color: #252b42;
  font-weight: 600;
}
.quote {
  margin: 12px;
  font-size: 32px;
  color: #252b42;
}
@media (min-width: 900px) {
  body {
    padding-right: 1rem;
  }
}

.box {
  margin: 12px;
  .get-quote {
    background-color: #96bb7c;
    color: white;
    margin-right: 10px;
    padding: 10px;
    border-color: #96bb7c;
  }

  .learn-more {
    background-color: white;
    border-color: white;
    color: #96bb7c;
    padding: 10px;
  }
  .get-quote:hover {
    background-color: white;
    color: #96bb7c;
    margin-right: 10px;
    padding: 10px;
    border-color: white;
  }

  .learn-more:hover {
    background-color: #96bb7c;
    border-color: #96bb7c;
    color: white;
    padding: 10px;
  }
}
