nav {
    padding: 0 20px;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo menu";
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}

nav h1 {
    grid-area: logo;

    line-height: 2.5;
    font-size: 35px;
}

nav ul {
    grid-area: menu;
    list-style: none;
    justify-self: end;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 25px;
    color: #737373;
}

nav input,
nav label {
    display: none;
}

.login {
    background-color: white;
    border-color: white;
    color: #96bb7c;
    padding: 10px;
    font-size: 25px;
}

.join-us {
    background-color: #96bb7c;
    color: white;
    margin-right: 10px;
    padding: 20px;
    border-color: #96bb7c;
    border-radius: 12px;
    font-size: 25px;
}

@media screen and (max-width: 768px) {
    nav {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 1fr;
        grid-template-areas: "logo hamburger" "menu menu";
        height: auto;
    }

    nav label {
        display: block;
        font-size: 30px;
        justify-self: end;
    }

    nav ul {
        display: none;
    }

    nav h1 {
        font-size: 45px;
    }

    nav #open-menu:checked+ul {
        width: 100%;
        grid-area: menu;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 80px);
        flex-direction: column;
    }

    nav #open-menu:checked+ul li {
        display: block;
        font-size: 30px;
        margin: 10px 0;
    }

    nav #open-menu:checked+ul li a {
        text-decoration: none;
        font-size: 45px;
    }
}