.all {
  width: 100%;
  height: 100%;
  gap:10px;
  margin: 30px 30px;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.expert {
  width: 328px;
  height: 296px;
  opacity: 1;
  gap: 20px;
  padding-top: 35px;
  padding-right: 40px;
  padding-bottom: 35px;
  padding-left: 40px;
  box-shadow: 0px 15px 25px 0px #00000022;
}
.expertise {
  width: 230px;
  height: 32px;
  opacity: 1;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}
.hey {
  width: 50px;
  height: 2px;
  opacity: 1;
  background: #e74040;
  justify-self: left;
  margin: 0px;
}
.bug {
  width: 222px;
  height: 60px;
  opacity: 1;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}
