<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/components/footer.scss">
</head>
<body>
    <div class="footer">
<ul>

</ul>
<ul>
<li class="footer-3">Company info</li>
<li class="footer-4">About us</li>
<li class="footer-4">Carrier</li>
<li class="footer-4">We are hiring</li>
<li class="footer-4">Blog</li>
</ul>
 <ul>
<li class="footer-3">Legal</li>
<li class="footer-4">About us</li>
<li class="footer-4">Carrier</li>
<li class="footer-4">We are hiring</li>
<li class="footer-4">Blog</li>
 </ul>
 <ul>
<li class="footer-3">Features</li>
<li class="footer-4">Buisness Marketing</li>
<li class="footer-4">User Analytic</li>
<li class="footer-4">Live Chat</li>
<li class="footer-4">Unlimited Support</li>
 </ul>
 <ul>
<li class="footer-3">Rescourses</li>
<li class="footer-4">IOS & Android</li>
<li class="footer-4">Watch a Demo</li>
<li class="footer-4">Customers</li>
<li class="footer-4">API</li>
 </ul>  
 <ul>
    <li class="footer-3">Get In Touch</li>
<li class="footer-4"><img src="/assets/bx_bx-phone.png" alt=""> (480) 555-0103</li>
<li class="footer-4"><img src="/assets/bx_bx-map.png"> 4517 Washington Ave. Manchester, <br>
Kentucky 39495</li>
<li class="footer-4"><img src="/assets/carbon_send-alt.png"> debra.holt@gmail.com</li>
 </ul>
    </div>
     <div class="footer-1">
       <p class="footer-2">Made With love by HTMLland All Rights Reserved</p>
       <img src="/assets/facebook.png" alt="">
        </div>
</body>
</html>