<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
  </head>
  <footer>
    <div class="footer">
      <ul>
        <li class="footer-3">Company info</li>
        <br />
        <li class="footer-4">About us</li>
        <li class="footer-4">Carrier</li>
        <li class="footer-4">We are hiring</li>
        <li class="footer-4">Blog</li>
      </ul>
      <ul>
        <li class="footer-3">Legal</li>
        <br />
        <li class="footer-4">About us</li>
        <li class="footer-4">Carrier</li>
        <li class="footer-4">We are hiring</li>
        <li class="footer-4">Blog</li>
      </ul>
      <ul>
        <li class="footer-3">Features</li>
        <br />
        <li class="footer-4">Buisness Marketing</li>
        <li class="footer-4">User Analytics</li>
        <li class="footer-4">Live Chat</li>
        <li class="footer-4">Unlimited Support</li>
      </ul>
      <ul>
        <li class="footer-3">Rescourses</li>
        <br />
        <li class="footer-4">IOS & Android</li>
        <li class="footer-4">Watch a Demo</li>
        <li class="footer-4">Customers</li>
        <li class="footer-4">API</li>
      </ul>
      <ul>
        <li class="footer-3">Get In Touch</li>
        <br />
        <li class="footer-4">
          <div class="footer-5">
            <img src="/assets/bx_bx-phone.png" alt="" />
            <p>(480) 555-0103</p>
          </div>
        </li>
        <li class="footer-4">
          <div class="footer-5">
            <img src="/assets/bx_bx-map.png" />
            <br />
            <p>4517 Washington Ave. Manchester,Kentucky 39495</p>
          </div>
        </li>
        <li class="footer-4">
          <div class="footer-5">
            <img src="/assets/carbon_send-alt.png" />
            <p>debra.holt@gmail.com</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="footer-1">
      <p class="footer-2">Made With love by HTMLland All Rights Reserved</p>
      <div class="images">
        <img src="/assets/facebook.png" alt="" class="image" />
        <img src="/assets/instagram.png" alt="" class="image" />
        <img src="/assets/Vector.png" alt="" class="image" />
      </div>
    </div>
  </footer>
</html>
