<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link rel="stylesheet" href="../css/navbar.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <div class="left">
        <h1>Brandname</h1>
         <input type="checkbox" id="open-menu">
  <label for="open-menu" class="right">☰</label>

        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Product</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="right">
        <p class="login">Login</p>
        <div class="joinusbutton">JOIN US! &rarr;</div>
      </div>

    </nav>
  </body>
</html>
