<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Statistics</title>
    <link rel="stylesheet" href="../css/statistics.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="div">
      <div class="text">
        <h1>15K</h1>
        <p>Happy Customers</p>
      </div>
      <div class="text">
        <h1>150K</h1>
        <p>Monthly Visitors</p>
      </div>
      <div class="text">
        <h1>15</h1>
        <p>Countries Worldwide</p>
      </div>
      <div class="text">
        <h1>100+</h1>
        <p>Top Partners</p>
      </div>
    </div>
  </body>
</html>
