<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="value.css">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="all">
    <div class="expert">
        <img class="image" src="../assets/expert.png">
        <p class="expertise">Expert instruction</p>
        <hr class="hey">
        <p class="bug">The gradual accumulation of<br>
information about atomic and<br> 
small-scale behaviour...</p>

    </div>
        <div class="expert">
        <img src="../assets/expert.png">
        <p class="expertise">Training Course </p>
        <hr class="hey">
        <p class="bug">The gradual accumulation of<br>
information about atomic and<br> 
small-scale behaviour...</p>

    </div>
<div class="expert">
        <img class="image" src="../assets/expert.png">
        <p class="expertise">Expert instruction</p>
        <hr class="hey">
        <p class="bug">The gradual accumulation of<br>
information about atomic and<br> 
small-scale behaviour...</p>

    </div>
    </div>
</body>
</html>