.all{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.expert{
width: 328;
height: 296;
gap: 20px;
opacity: 1;
padding-top: 35px;
padding-right: 40px;
padding-bottom: 35px;
padding-left: 40px;
box-shadow: 0px 13px 19px 0px #00000012;
}
.expertise{}